body {
  margin-left: 20px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notification{
  font-size: 20px;
  margin: 10px;
  color: green;
  background-color: lightgray;
}

.error{
  font-size: 20px;
  margin: 10px;
  color: red;
  background-color: lightgray;
}
